:root{
    --black: #000000;
    --white: #ffffff;
    --grey: #758283;
    --darkgrey: #818181;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Orbitron', sans-serif;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

/* Navbar */

.navbar-container{
    margin: 70px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 85%;
    display: flex;
    cursor: pointer;
}

.navbar-container ul{
    list-style: none;
}

.navbar-container ul li{
    display: inline-block;
    text-align: center;
    padding: 0 25px;
}

.navbar-container ul li a{
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: var(--black);
    font-size: 23px;
    font-weight: 600;
    transition: .2s ease-in-out;
}

.navbar-container ul li a:hover{
    border-bottom: 3px solid var(--black);
    font-weight: 900;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    margin-right: 15px;
    cursor: pointer;
}

.nav-button{
    width: 180px;
    height: 45px;
    border-radius: 15px;
    border: 3px solid var(--black);
    font-size: 23px;
    color: var(--grey);
    padding: 10px;
    text-align: center;
}

.nav-button::placeholder{
    color: #818181;
    text-align: center;
}

/* Hero Banner Section */

.hero-image-text{
    display: flex;
}

.hero-container{
    position: relative;
    margin-top: 90px
}

.hero img{
    width: 480px;
}

.square img{
    position: absolute;
    bottom: 2%;
    left: 41%;
    z-index: -1;
    width: 350px;
}

/* Hero-container-right */

.hero-container-right{
    margin-left: 90px;
}

.star img{
    position: absolute;
    right: 14%;
    top: 24%;
    width: 3.5%;
}

.star-two img{
    position: absolute;
    bottom: 12%;
    left: 46%;
    width: 2.5%;
}

.globe img{
    position: absolute;
    right: 44%;
    top: 19%;
    width: 3.5%;
}

.text{
    text-align: center;
    margin-top: 200px;
}

.hero-heading{
    text-align: right;
    font-size: 3.9rem;
}

.hero-description{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #707070;
    width: 80%;
    margin: 70px auto 90px;
}

.email{
    border: 2px solid var(--darkgrey);
    border-radius: 10px;
    padding: 3px 10px;
    width: 250px;
    font-size: 20px;
    color: var(--darkgrey);
    margin-right: 20px;
}

.email::placeholder{
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: var(--darkgrey);
    font-weight: 600;
}

.button-join{
    padding: 2px 6px;
    font-size: 20px;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

/* Contact-Us */

.contact-us{
    text-align: center;
    margin-top: 120px;
}

.contact-heading{
    font-size: 22px; 
    margin-right: 18px;
    color: var(--darkgrey);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.icons span img{ 
    cursor: pointer;
    margin-top: 14px;
    margin-right: 15px;
    width: 40px;
}